/*
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap-cover";
@import "nprogress";
@import "nprogress-bootstrap";
@import "font-awesome";
@import "materialadmin";
@import "material-design-iconic-font.min";
@import "libs/rickshaw/rickshaw";
@import "libs/morris/morris.core";
@import "libs/DataTables/jquery.dataTables";
@import "libs/DataTables/extensions/dataTables.colVis";
@import "libs/DataTables/extensions/dataTables.tableTools";
@import "bootstrap-datepicker3";
@import "app_fonts";

body{
  background: #fff;
}

.datepicker{
  border-radius: 0 !important;
}

#custom_start_date_input_group, #custom_end_date_input_group{
  width: 40%;
  display: inline-block;
}

#date_range_type_submit{
  width: 15%;
  display: inline-block;
}
