/*
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap-cover";
@import "nprogress";
@import "nprogress-bootstrap";
@import "font-awesome";
@import "materialadmin";
@import "material-design-iconic-font.min";
@import "libs/rickshaw/rickshaw";
@import "libs/morris/morris.core";
@import "libs/DataTables/jquery.dataTables";
@import "libs/DataTables/extensions/dataTables.colVis";
@import "libs/DataTables/extensions/dataTables.tableTools";
@import "libs/bootstrap-datepicker/datepicker3";
@import "libs/select2/select2";
@import "libs/wizard/wizard";
@import "app_fonts";
@import "account";
@import "parsley";

body{
  background: #fff;
}

.datepicker{
  border-radius: 0 !important;
}

#custom_start_date_group, #custom_end_date_group{
  width: 40%;
  display: inline-block;
}

#campaigns_filter_submit{
  width: 15%;
  display: inline-block;
}

.parsley-errors-list{
  position: absolute;
  bottom: -20px;
}

#keywords_create_form, #ads_create_form, #ad_group_create_form{
  display: none;
}

#ad-preview{
  padding: 10px 20px;
  margin-left: 30px;
  background: #f5f5f5;
}