/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Roboto);

// campaign css
#local-footer {
  margin-top: 25px;
}

// global css
div.small-print {
  font-size: 0.75em;
}

#global-alert div {
  margin: 0 20%;
  text-align: center;
}

#global-header {
  float: right;
  margin-right: 25px;
}

#global-footer {
  margin-top: 25px;
}

#global-alert div.notice {
  background-color: #aaf;
}

#global-alert div.alert {
  background-color: #faa;
}

div.notice {
  font-weight: bold;
}

body {
  background-color: #eef;
  font-family: 'Roboto', sans-serif;
  color: #330;
}

table {
  width: 100%;
}

th {
  font-size: 120%;
  height: 40px;
}

tr:nth-child(even){
  background-color: #dde;
}

td {
  padding: 6px;
}

// report css
div.report-form {
  margin: 20px 20px 40px;
}

div.report-form-item {
  margin-bottom: 10px;
}



