/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap-cover";
@import "font-awesome";
@import "materialadmin";
@import "material-design-iconic-font.min";
@import "app_fonts";

// color define
$white: #FFF;
$white_dark_1: #e0e0e0;
$orange: #ffa000;
$orange_hover: #ff5722;

body{
  background: asset_url('devise/bg_material.png');
  background-size: cover;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  trasition: all ease .3s;
}

.link{
  display: block;
  margin: 10px 0;
  color: $orange;

  &:hover{
    color: $orange_hover;
  }
}

.devise-form{
  margin: 70px auto 0 auto;
  max-width: 480px;
  padding: 0 40px 50px 40px;
  background: rgba(255, 255, 255, .95);
  text-align: center;

  h1{
    margin: 0 -40px 30px -40px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2B323A;
    color: $white;
  }

  .form-control{
    margin-top: 25px;
    padding: 0 15px;
    height: 55px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #eeeeee;
    background: transparent;
    color: #9e9e9e;

    &:focus{
      border-color: #0aa89e !important;
    }

    &:-webkit-input-placeholder{
      color: $white_dark_1;
    }

    &:-moz-placeholder{
      color: $white_dark_1;
    }

    &:-ms-input-placeholder{
      color: $white_dark_1;  
    }
  }
}

.btn-main{
  margin-top: 25px;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 40px;
  width: 100%;
  border: none !important;
}

.checkbox{
  margin: 25px 0 0 0;
  float: left;
}

.shared-links{
  margin-top: 25px;
}

.error{
  display: block;
  text-align: right;
  color: $orange;
  font-style: italic;
}

.error_notification{
  color: $orange;
}

.alert{
  width: 230px;
  position: fixed;
  right: 20px;
  bottom: 10px;
}