.google-auth.text-center
  %h1.text-primary.text-xxxl.text-light
    Authorization required
  %p.lead
    Please authorize with a google account first
  = link_to 'Proceed now', @login_url.to_s, class: 'btn btn-raised btn-lg btn-primary centered'